<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Auto-remediation report</title>
		<meta name="description" content="IASP Vulnerable Report" />
		<meta name="keywords" content="nested, accordion, simple, vertical, web development, css3, javascript" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<link rel="stylesheet" type="text/css" href="css/codemirror.css" />
		<link rel="stylesheet" type="text/css" href="css/mergely.css" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/jquery.cbpNTAccordion.min.js"></script>
		<script src="js/customtab.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/codemirror.js"></script>
		<script src="js/searchcursor.js"></script>	
		<script src="js/mergely.js"></script>
		<script src="js/codediff-mergely.js"></script>		
		<script src="data.json"></script>
	</head>
	
	<body ng-app="myapp" ng-controller="ReportObject">
		<div class="container" ng-if=!isdataloaded>
			<h1 style="text-align: center;">
				No data available
			</h1>
		</div>
		<div class="container" ng-if=isdataloaded>
			<header class="clearfix">
				
				<h1 ng-bind="data.project.name" style="text-align: center;"></h1>
				
			</header>	
			<div class="main" id="report">
				<ul id="cbp-ntaccordion" class="cbp-ntaccordion">
					<li>
						<h3 class="cbp-nttrigger">Successfully remediated items: {{issueCounts.supported}}</h3>
						<div class="cbp-ntcontent">
							<ul class="cbp-ntsubaccordion" >
								<li ng-repeat="(k,d) in data.project.supported" style="border-bottom: 1px solid #ddd">
									<a href="supported.html?vuln={{k}}" target="_blank" ng-if = "d.remediation != null">{{k}}</a>
									<a href="" ng-if = "d.remediation == null">{{k}} - <em style="color:red;">No documented remediation details</em></a>
								</li>	
							</ul>
						</div>
					</li>
					<li>
						<h3 class="cbp-nttrigger">Currently unsupported items: {{issueCounts.unsupported}}</h3>
						<div class="cbp-ntcontent">
							<ul class="cbp-ntsubaccordion">
								<li ng-repeat="(k,d) in data.project.unsupported" style="border-bottom: 1px solid #ddd">
									<!--<h4 class="cbp-nttrigger">{{k}}</h4>-->
									<a href="unsupported.html?vuln={{k}}" target="_blank" ng-if = "d.remediation != null">{{k}}</a>
									<a href="" ng-if = "d.remediation == null">{{k}} - <em style="color:red;">No documented remediation details</em></a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<h3 class="cbp-nttrigger">Failed remediation items: {{issueCounts.failed}}</h3>
						<div class="cbp-ntcontent">
							<ul class="cbp-ntsubaccordion">
								<li ng-repeat="(k,d) in data.project.failed" style="border-bottom: 1px solid #ddd">
									<!--<h4 class="cbp-nttrigger">{{k}}</h4>-->
									<a href="failed.html?vuln={{k}}" target="_blank" ng-if = "d.remediation != null">{{k}}</a>
									<a href="" ng-if = "d.remediation == null">{{k}} - <em style="color:red;">No documented remediation details</em></a>
								</li>
							</ul>
						</div>						
					</li>
				</ul>
			</div>
		</div>
		
		<script>
			$( function() {
				/*
				- how to call the plugin:
				$( selector ).cbpNTAccordion( [options] );
				- destroy:
				$( selector ).cbpNTAccordion( 'destroy' );
				*/

				$( '#cbp-ntaccordion' ).cbpNTAccordion();

			} );
		</script>
	</body>
	<script>
		var app = angular.module("myapp", []);
			app.controller("ReportObject", function($timeout, $scope) {
				//var jsonData = true;
				$scope.isdataloaded=true;
				if (typeof window.jsonData == 'undefined') {
					$scope.isdataloaded=false;
				} else {
				$scope.data = jsonData;	
				$scope.openTab = openTab;
				$scope.issueCounts = {
					"supported": Object.keys(jsonData.project.supported).length,
					"unsupported": Object.keys(jsonData.project.unsupported).length,
					"failed": Object.keys(jsonData.project.failed).length
				}
				function openTab(evt, cityName) {
			// Declare all variables
					var i, tabcontent, tablinks;

					  // Get all elements with class="tabcontent" and hide them
					  tabcontent = document.getElementsByClassName("tabcontent");
					  for (i = 0; i < tabcontent.length; i++) {
						tabcontent[i].style.display = "none";
					  }

					  // Get all elements with class="tablinks" and remove the class "active"
					  tablinks = document.getElementsByClassName("tablinks");
					  for (i = 0; i < tablinks.length; i++) {
						tablinks[i].className = tablinks[i].className.replace(" active", "");
					  }

					  // Show the current tab, and add an "active" class to the button that opened the tab
					  document.getElementById(cityName).style.display = "block";
					  evt.currentTarget.className += " active";
					  //codeDiffMerge();
				}	
				}
		});
	</script>
</html>
