<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Unsupported vulnerability details</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/codemirror.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" />
	<link rel="stylesheet" href="css/unsupported_styles.css" />

	<script src="js/angular.min.js"></script>
	<script src="js/codemirror.js"></script>
	<script src="mode/javascript/javascript.js"></script>
	<script src="js/autorefresh.js"></script>
	<script src="data.json"></script>

  </head>

  <body ng-app="myapp" ng-controller="ReportObject">
  
    <div class="container-fluid" style="margin-top: 20px;">
		<div class="row">
			<div class="col-md-12">
				<div style="margin-bottom: 20px;">
					<!-- header -->
					<div class="heading">
						<h1 ng-bind="issueName"></h1>
					</div>  
					<!-- header -->
				</div>
				
				  <ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item waves-effect waves-light">
					  <a class="nav-link active" id="faq-tab" data-toggle="tab" href="#faq" role="tab" aria-controls="faq" aria-selected="false">FAQ</a>
					</li>
					<li class="nav-item waves-effect waves-light">
					  <a class="nav-link" id="remediation-tab" data-toggle="tab" href="#remediation" role="tab" aria-controls="remediation" aria-selected="false">Remediation</a>
					</li>
					<li class="nav-item waves-effect waves-light">
					  <a class="nav-link" id="mitigation-tab" data-toggle="tab" href="#mitigation" role="tab" aria-controls="mitigation" aria-selected="true">Mitigation</a>
					</li>
					<li class="nav-item waves-effect waves-light">
					  <a class="nav-link" id="mitigation-tab" data-toggle="tab" href="#issueList" role="tab" aria-controls="issueList" aria-selected="true">Issue list</a>
					</li>					
				  </ul>
				  
				  <div class="tab-content" id="myTabContent"  style="margin:20px">
					<div class="tab-pane fade active show" id="faq" role="tabpanel" aria-labelledby="faq-tab">
						<div ng-repeat="faq in faqs">
							<div class="post-main-info">
								<p class="parent-p" style="border-bottom: 1px solid #ddd;"><strong>{{htmlDecode(faq.question)}}</strong></p>
								<p class="parent-p">{{htmlDecode(faq.answer)}}</p>	
							</div>
							<div>&nbsp;</div>
						</div>
						<div class="post-main-info" ng-if="faqs.length == 0;">
							<p style="text-align: center;">
							No data available
							</p>
						</div>
					</div>
					<div class="tab-pane fade" id="remediation" role="tabpanel" aria-labelledby="remediation-tab">

					<!-- remediation accordion start -->
					<div class="accordion md-accordion" id="remedAccMain" role="tablist" aria-multiselectable="true" >
						<!-- remediation section -->
						<!-- Accordion card -->
						  <div class="card" ng-repeat = "r in recommendations">

							<!-- Card header -->
							<div class="card-header" role="tab" id="remedAccMain{{$index}}">
							  <a data-toggle="collapse" data-parent="#remedAccMain" href="#remedAccMainCollapse{{$index}}" aria-expanded="true"
								aria-controls="remedAccMainCollapse{{$index}}">
								<h6 class="mb-0">
								  {{htmlDecode(r.abstract)}}<br />
								  Language: {{htmlDecode(r["@type"])}}
								</h6>
							  </a>
							</div>

							<!-- Card body -->
							<div id="remedAccMainCollapse{{$index}}" class="collapse" role="tabpanel" aria-labelledby="remedAccMain{{$index}}"
							  data-parent="#remedAccMain">
							  <div class="card-body">
							<!-- Remediation Details -->
								<div><h4>Comments</h4></div>
								<div class="post-main-info">
									<div>
										<p id="remedAccMaincomments{{$index}}">
											{{htmlDecode(r.comments)}}
											</p>
										</div>
									</div>
								<div>&nbsp;</div>
								<div><h4>Impacts</h4></div>
								<div class="post-main-info">
									<div>
									<p id="remedAccMainimpacts{{$index}}">
										{{htmlDecode(r.impact)}}
									</P>
									</div>
								</div>
								<div>&nbsp;</div>
								<div class="row">
									<div class="col-md-6 vuln">
										<label for="vuln">Vulnerable code</label>
										<textarea id="remedAccMainvulncode{{$index}}">
{{htmlDecode(r.vulncode)}}
										</textarea>	
									</div>
									<div class="col-md-6 nonvuln">
										<label for="nonvuln">Non-vulnerable code</label>
										<textarea id="remedAccMainnonvulncode{{$index}}">
{{htmlDecode(r.nonvulncode)}}
										</textarea>
									</div>
								</div>
							<!-- Remediation Details -->

							  </div>
							</div>

						  </div>
						  <!-- Accordion card -->  
						  					  
					</div>
					<!-- remediation accordion end -->
				</div>
				
			     	<!-- mitigation details start -->
                <div class="tab-pane fade" id="mitigation" role="tabpanel" aria-labelledby="mitigation-tab">
				
					<!-- mitigationn accordion start -->
					<div class="accordion md-accordion" id="mitigAccMain" role="tablist" aria-multiselectable="true" >
						<!-- mitigation section -->
						
						  <!-- Accordion card -->
						  <div class="card" ng-repeat = "m in mitigations">

							<!-- Card header -->
							<div class="card-header" role="tab" id="mitigAccMain{{$index}}">
							  <a data-toggle="collapse" data-parent="#mitigAccMain" href="#mitigAccMainCollapse{{$index}}" aria-expanded="true"
								aria-controls="mitigAccMainCollapse{{$index}}">
								<h6 class="mb-0">
									{{htmlDecode(m.abstract)}}<br />
									{{htmlDecode(m.system)}}
								</h6>
							  </a>
							</div>

							<!-- Card body -->
							<div id="mitigAccMainCollapse{{$index}}" class="collapse" role="tabpanel" aria-labelledby="mitigAccMain{{$index}}"
							  data-parent="#mitigAccMain">
							  <div class="card-body">
							  <!-- Mitigation Details -->
								<div><h4>System</h4></div>
								<div class="post-main-info">
									<div>
										<p id="mitigAccMainsystem{{$index}}">
											{{htmlDecode(m.system)}}										
										</p>
									</div>
								</div>
								<div>&nbsp;</div>
								<div><h4>Configuration</h4></div>
								<div class="post-main-info">
									<div>
										<p id="mitigAccMainconfiguration{{$index}}">
											{{htmlDecode(m.configuration)}}										
										</p>
									</div>
								</div>
								<div>&nbsp;</div>
								<div><h4>Comments</h4></div>
								<div class="post-main-info">
									<div>
									<p id="mitigAccMaincomments{{$index}}">
										{{htmlDecode(m.comments)}}
									</P>
									</div>
								</div>
								<div>&nbsp;</div>
								<div class="row">
									<div class="col-md-6 vuln">
										<label for="vuln">Backend</label>
										<textarea id="mitigAccMainvulncode{{$index}}">
{{htmlDecode(m.backend)}}
										</textarea>	
									</div>
									<div class="col-md-6 nonvuln">
										<label for="nonvuln">Frontend</label>
										<textarea id="mitigAccMainnonvulncode{{$index}}">
{{htmlDecode(m.frontend)}}
										</textarea>
									</div>
								</div>
							<!-- Mitigation Details -->

							  </div>
							</div>
						  </div>
						  <!-- Accordion card -->		

					</div>
				</div>
					<!-- mitigationn accordion end -->

					<!-- Issue list accordion start -->
				<div class="tab-pane fade" id="issueList" role="tabpanel" aria-labelledby="issueList-tab">			
					<div>			
						<h3>List of all issues of {{issueName}}</h3>

						<div class="accordion md-accordion" id="issueListMain{{$index}}" role="tablist" aria-multiselectable="true" >
							<!-- Issue list section -->
							
							<!-- Accordion card -->
							<div class="card" ng-repeat = "(iIndex,i) in issueListData">

								<!-- Card header -->
								<div class="card-header" role="tab" id="issueListAccMain{{iIndex}}">
								<a data-toggle="collapse" data-parent="#issueListAccMain{{iIndex}}" href="#issueListAccMainCollapse{{iIndex}}" aria-expanded="true"
									aria-controls="issueListAccMainCollapse{{iIndex}}">
									<h6 class="mb-0">
										File: {{i.file}}
									</h6>
								</a>
								</div>

								<!-- Card body -->
								<div id="issueListAccMainCollapse{{iIndex}}" class="collapse" role="tabpanel" aria-labelledby="issueListAccMain{{iIndex}}" data-parent="#issueListAccMain{{iIndex}}">
									<div class="card-body">
									<!-- Issue list Details -->
										<div class="accordion md-accordion" id="issueListAccSub{{iIndex}}" role="tablist" aria-multiselectable="true" >
											<!-- Issue list section -->
											
											<!-- Accordion card -->
											<div class="card" ng-repeat = "(itmIndex, itm) in i.items">
												<!-- Card header -->
												<div class="card-header" role="tab" id="issueListAccSub{{itmIndex}}_{{itm.id}}">
													<a data-toggle="collapse" data-parent="#issueListAccSub{{iIndex}}" href="#issueListAccSubCollapse{{itm.id}}_{{$index}}" aria-expanded="true"
														aria-controls="issueListAccSubCollapse{{itm.id}}_{{$index}}">
														<h6 class="mb-0">
															ID: {{itm.id}}<br />
															Line: {{itm.line}}
														</h6>
													</a>
													</div>
												<!-- Card body -->
												<div id="issueListAccSubCollapse{{itm.id}}_{{$index}}" class="collapse" role="tabpanel" aria-labelledby="issueListAccSub{{itmIndex}}_{{itm.id}}" data-parent="#issueListAccSub{{itmIndex}}_{{itm.id}}">
													<div class="card-body">
													<!-- Issue list Details -->
														<div class="col-md-12 nonvuln" style="width: 100%;">
															<label for="vuln">Snippet</label>
															<textarea id="issueListAccSubvulncode{{itm.id}}_{{$index}}">
{{htmlDecode(itm.snippet)}}
															</textarea>
														</div>
													<!-- Issue list Details -->
													</div>
												</div>
											</div>
										</div>
										<!-- Issue list Details -->
									</div>
								</div>
							</div>
							<!-- Accordion card -->		

						</div>
					</div>	
				</div>
				</div>
			</div>
		</div>
	</div>
	

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/utils.js"></script>

	<script>
	
	var app = angular.module("myapp", []);
			app.controller("ReportObject", function($timeout, $scope) {				
				//$scope.data = jsonData;	

				var url = new URL(window.location.href);
				_issueName = url.searchParams.get("vuln");
				$scope.issueName = _issueName;
				
				$scope.faqs = [];
				$scope.recommendations = [];
				$scope.mitigations = [];

				faqsObj = jsonData.project.unsupported[_issueName].remediation.remediation.faqs;
				
				if(faqsObj != null){
					if (isArray(faqsObj.faq)){
						$scope.faqs = faqsObj.faq;
					}else{
						$scope.faqs.push(faqsObj.faq);
					}
				}

				remedObj = jsonData.project.unsupported[_issueName].remediation.remediation.recommendations;

				if(remedObj != null){
					if (isArray(remedObj.recommendation)){
						$scope.recommendations = remedObj.recommendation;
					}else{
						$scope.recommendations.push(remedObj.recommendation);
					}
				}

				mitigObj = jsonData.project.unsupported[_issueName].remediation.remediation.mitigations;

				if(mitigObj != null){
					if (isArray(mitigObj.mitigation)){
						$scope.mitigations = mitigObj.mitigation;
					}else{
						$scope.mitigations.push(mitigObj.mitigation);
					}
				}

				$scope.issueListData = jsonData.project.unsupported[_issueName].files;
				
				// text area id whitelist
				var textAreaWhitelist = ["message"];

				$scope.$watch('$viewContentLoaded', 
					function() { 
						$timeout(function() {
							textAreaFunc(textAreaWhitelist);
						},0);    
				});

				$scope.htmlDecode = htmlDecode;

	});
                                           
	</script>
  </body>
</html>