<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Unsupported issue details</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/codemirror.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" />
	<link rel="stylesheet" href="css/unsupported_styles.css" />

	<script src="js/angular.min.js"></script>
	<script src="js/codemirror.js"></script>
	<script src="mode/javascript/javascript.js"></script>
	<script src="js/autorefresh.js"></script>
	<script src="data.json"></script>

  </head>

  <body ng-app="myapp" ng-controller="ReportObject">
  
    <div class="container-fluid" style="margin-top: 20px;">
		<div class="row">
			<div class="col-md-12">
				<div style="margin-bottom: 20px;">
					<!-- header -->
					<div class="heading">
						<h1 ng-bind="issueName"></h1>
					</div>  
					<!-- header -->
				</div>
				
				  <ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item waves-effect waves-light">
					  <a class="nav-link active" id="faq-tab" data-toggle="tab" href="#faq" role="tab" aria-controls="faq" aria-selected="false">FAQ</a>
					</li>
					<li class="nav-item waves-effect waves-light">
					  <a class="nav-link" id="remediation-tab" data-toggle="tab" href="#remediation" role="tab" aria-controls="remediation" aria-selected="false">Remediation</a>
					</li>
					<li class="nav-item waves-effect waves-light">
					  <a class="nav-link" id="mitigation-tab" data-toggle="tab" href="#mitigation" role="tab" aria-controls="mitigation" aria-selected="true">Mitigation</a>
					</li>
					<li class="nav-item waves-effect waves-light">
					  <a class="nav-link" id="mitigation-tab" data-toggle="tab" href="#issueList" role="tab" aria-controls="issueList" aria-selected="true">Issue list</a>
					</li>					
				  </ul>
				  
				  <div class="tab-content" id="myTabContent"  style="margin:20px">
					<div class="tab-pane fade active show" id="faq" role="tabpanel" aria-labelledby="faq-tab">
						<div ng-repeat="faq in faqs">
							<div class="post-main-info">
								<p class="parent-p" style="border-bottom: 1px solid #ddd;"><strong>{{faq.question}}</strong></p>
								<p class="parent-p">{{faq.answer}}</p>	
							</div>
							<div>&nbsp;</div>
						</div>
						<div class="post-main-info" ng-if="faqs.length == 0;">
							<p style="text-align: center;">
							No data available
							</p>
						</div>
					</div>
					<div class="tab-pane fade" id="remediation" role="tabpanel" aria-labelledby="remediation-tab">

					<!-- remediation accordion start -->
					<div class="accordion md-accordion" id="remedAccMain" role="tablist" aria-multiselectable="true" >
						<!-- remediation section -->
						<!-- Accordion card -->
						  <div class="card" ng-repeat = "r in recommendations">

							<!-- Card header -->
							<div class="card-header" role="tab" id="remedAccMain{{$index}}">
							  <a data-toggle="collapse" data-parent="#remedAccMain" href="#remedAccMainCollapse{{$index}}" aria-expanded="true"
								aria-controls="remedAccMainCollapse{{$index}}">
								<h6 class="mb-0">
								  {{r["@type"]}}: {{r.abstract}}
								</h6>
							  </a>
							</div>

							<!-- Card body -->
							<div id="remedAccMainCollapse{{$index}}" class="collapse" role="tabpanel" aria-labelledby="remedAccMain{{$index}}"
							  data-parent="#remedAccMain">
							  <div class="card-body">
							<!-- Remediation Details -->
								<div><h4>Comments</h4></div>
								<div class="post-main-info">
									<div>
										<p id="remedAccMaincomments{{$index}}">
											{{r.comments}}
											</p>
										</div>
									</div>
								<div>&nbsp;</div>
								<div><h4>Impacts</h4></div>
								<div class="post-main-info">
									<div>
									<p id="remedAccMainimpacts{{$index}}">
										{{r.impact}}
									</P>
									</div>
								</div>
								<div>&nbsp;</div>
								<div class="row">
									<div class="col-md-6 vuln">
										<label for="vuln">Vulnerable code</label>
										<textarea id="remedAccMainvulncode{{$index}}">
											{{r.vulncode}}
										</textarea>	
									</div>
									<div class="col-md-6 nonvuln">
										<label for="nonvuln">Non-vulnerable code</label>
										<textarea id="remedAccMainnonvulncode{{$index}}">
											{{r.nonvulncode}}
										</textarea>
									</div>
								</div>
							<!-- Remediation Details -->

							  </div>
							</div>

						  </div>
						  <!-- Accordion card -->  
						  					  
					</div>
					<!-- remediation accordion end -->
				</div>
				
			     	<!-- mitigation details start -->
                     <div class="tab-pane fade" id="mitigation" role="tabpanel" aria-labelledby="mitigation-tab">
				
					<!-- mitigationn accordion start -->
					<div class="accordion md-accordion" id="mitigAccMain" role="tablist" aria-multiselectable="true" >
						<!-- mitigation section -->
						
						  <!-- Accordion card -->
						  <div class="card" ng-repeat = "m in mitigations">

							<!-- Card header -->
							<div class="card-header" role="tab" id="mitigAccMain{{$index}}">
							  <a data-toggle="collapse" data-parent="#mitigAccMain" href="#mitigAccMainCollapse{{$index}}" aria-expanded="true"
								aria-controls="mitigAccMainCollapse{{$index}}">
								<h6 class="mb-0">
									{{m.abstract}}
								</h6>
							  </a>
							</div>

							<!-- Card body -->
							<div id="mitigAccMainCollapse{{$index}}" class="collapse" role="tabpanel" aria-labelledby="mitigAccMain{{$index}}"
							  data-parent="#mitigAccMain">
							  <div class="card-body">
							  <!-- Mitigation Details -->
								<div><h4>System</h4></div>
								<div class="post-main-info">
									<div>
										<p id="mitigAccMainsystem{{$index}}">
											{{m.system}}										
										</p>
									</div>
								</div>
								<div>&nbsp;</div>
								<div><h4>Configuration</h4></div>
								<div class="post-main-info">
									<div>
										<p id="mitigAccMainconfiguration{{$index}}">
											{{m.configuration}}										
										</p>
									</div>
								</div>
								<div>&nbsp;</div>
								<div><h4>Comments</h4></div>
								<div class="post-main-info">
									<div>
									<p id="mitigAccMaincomments{{$index}}">
										{{m.comments}}
									</P>
									</div>
								</div>
								<div>&nbsp;</div>
								<div class="row">
									<div class="col-md-6 vuln">
										<label for="vuln">Backend</label>
										<textarea id="mitigAccMainvulncode{{$index}}">
											{{m.backend}}
										</textarea>	
									</div>
									<div class="col-md-6 nonvuln">
										<label for="nonvuln">Frontend</label>
										<textarea id="mitigAccMainnonvulncode{{$index}}">
											{{m.frontend}}
										</textarea>
									</div>
								</div>
							<!-- Mitigation Details -->

							  </div>
							</div>
						  </div>
						  <!-- Accordion card -->		

					</div>
				</div>
					<!-- mitigationn accordion end -->
					
					<div class="tab-pane fade" id="issueList" role="tabpanel" aria-labelledby="issueList-tab">			
						<div>			
							<h3>List of all issues in SQL Injection</h3>
							<div class="post-main-info">
								<p class="parent-p" style="border-bottom: 1px solid #ddd;"><strong>{{faq.question}}</strong></p>
								<p class="parent-p">{{faq.answer}}</p>	
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
	

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

	<script>
	
	var app = angular.module("myapp", []);
			app.controller("ReportObject", function($timeout, $scope) {				
				//$scope.data = jsonData;	

				var url = new URL(window.location.href);
				_issueName = url.searchParams.get("vuln");
				$scope.issueName = _issueName;
				
				$scope.faqs = [];
				$scope.recommendations = [];
				$scope.mitigations = [];

				faqsObj = jsonData.project.unsupported[_issueName].remediation.remediation.faqs;
				
				if(faqsObj != null){
					if (isArray(faqsObj.faq)){
						$scope.faqs = faqsObj.faq;
					}else{
						$scope.faqs.push(faqsObj.faq);
					}
				}

				remedObj = jsonData.project.unsupported[_issueName].remediation.remediation.recommendations;

				if(remedObj != null){
					if (isArray(remedObj.recommendation)){
						$scope.recommendations = remedObj.recommendation;
					}else{
						$scope.recommendations.push(remedObj.recommendation);
					}
				}

				mitigObj = jsonData.project.unsupported[_issueName].remediation.remediation.mitigations;

				if(mitigObj != null){
					if (isArray(mitigObj.mitigation)){
						$scope.mitigations = mitigObj.mitigation;
					}else{
						$scope.mitigations.push(mitigObj.mitigation);
					}
				}

				jsonData.project.unsupported[_issueName].files;

	});


	function isArray(what) {
    	return Object.prototype.toString.call(what) === '[object Array]';
	}

		var textAreaWhitelist = ["message"]
	
		function scrub(sourceText, valueToScrub){
			newTextValue = "";
			
			if(sourceText.length > 0){
				scrubIndex = sourceText.indexOf(valueToScrub);
				
				newTextValue = sourceText.substr(0, scrubIndex);
				newTextValue = newTextValue + sourceText.substr(scrubIndex + valueToScrub.length);
			}
			return newTextValue
		}
		
		/*var pTags = Array.prototype.slice.call(document.getElementsByTagName("p"));
		
		if(pTags != null){
			pTags.forEach(function(item){
				
			});
		}*/
		
		var textAreas = Array.prototype.slice.call(document.getElementsByTagName("textarea"));
		
		if(textAreas != null){
			textAreas.forEach(function(item){
				
				if(!textAreaWhitelist.includes(item.getAttribute("id"))){
				
					highlightObjects = []
					
					var emTags = [{s:"<em class=\"red\">",r:"red"}, {s:"<em class=\"blue\">",r:"blue"}, {s:"<em class=\"bold\">",r:"bold"}];
					
					//temporary fix replacing <em class="red"> tags
					newTextValue = item.value;
					
					emTags.forEach(function(itemTag){
						// search for em tags
						index = newTextValue.indexOf(itemTag.s)-1;
						while(index > 0){
							startIndex = index;
							endIndex = newTextValue.indexOf("</em>", startIndex);
							
							lastCrStart = newTextValue.lastIndexOf("\n", startIndex);
							lineNumStart = newTextValue.substr(0, startIndex).split("\n").length-1;
							startIndex = index - lastCrStart;
							//startIndex -= itemTag.s.length;
							
							lastCrEnd = newTextValue.lastIndexOf("\n", endIndex);
							lineNumEnd = newTextValue.substr(0, endIndex).split("\n").length-1;
							endIndex = (endIndex - itemTag.s.length) - lastCrEnd;
							
							newTextValue = scrub(newTextValue, itemTag.s);
							newTextValue = scrub(newTextValue, "</em>");
							index = newTextValue.indexOf(itemTag.s);
							
							cName = ""
							switch(itemTag.r){
								case "red":
									cName = "vuln-highlight"; break;
								case "blue":
									cName = "nonvuln-highlight"; break;
								case "bold":
									cName = "bold"; break;
								default: cName = ""; break;
							}
							
							var styleObj = {
								from:{line: lineNumStart, ch: startIndex}, 
								to:{line: lineNumEnd, ch: endIndex}, 
								obj:{className: cName}
							}
							
							highlightObjects.push(styleObj);
						}
					});
					
					item.value = newTextValue
				
					var editor = CodeMirror.fromTextArea(item, {
							mode: "javascript", 
							autoRefresh: true,
							readOnly: true,
							lineNumbers: true
						});
					
					editor.setSize(null,500);
					
					highlightObjects.forEach(function(itemStyle){
						editor.markText(itemStyle.from, itemStyle.to, itemStyle.obj)
					});
					
					editor.save();
					editor.refresh();
				}
			});
		}
		                                           
	</script>
  </body>
</html>